In [1]:
import pandas as pd
import numpy as np
import sqlite3
import os

### Tweets

#### Raw DB

In [6]:
con_ev = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-EVs2.sqlite"))
con_oil = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-Oil.sqlite"))
tech_df = pd.read_csv(os.path.join(os.getcwd(), "../Datasets/NewTechTweetData.csv"), delimiter='\t')
con_pharma = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-Pharma.sqlite"))


cur_ev = con_ev.cursor()
cur_oil = con_ev.cursor()
cur_pharma = con_ev.cursor()

In [7]:
ev_df = pd.read_sql_query("SELECT * from new_reduced_tweet_counts", con_ev)
oil_df = pd.read_sql_query("SELECT * from oil_tweets_count", con_oil)
pharma_df = pd.read_sql_query("SELECT * from pharma_tweets_count", con_pharma)

In [8]:
tech_df.head()

,CATEGORY,DATE,COUNT,TWEET
0,Tech,2020-03-30,1,$GOOGL towards 1200 if we continue higher / ho...
1,Tech,2020-03-30,3,Why do you invest and what are your financial ...
2,Tech,2020-03-30,1,$GOOGL towards 1200 if we continue higher / ho...
3,Tech,2020-03-30,1,"Apple Inc price at close, 2020-03-30, is 250.9..."
4,Tech,2020-03-30,1,$AAPL 260-265 if markets hold up into the week...

In [9]:
ev_df.head()

,category,tweetDate,count,tweet
0,EVs,2020-04-07,1,"""Interconnected tunnels with ramps & ; elevato..."
1,EVs,2020-04-07,1,"#PrisonfortheMusks See you at zero, assholes. ..."
2,EVs,2020-04-07,10,$AKER another possible beautiful short. Jumpin...
3,EVs,2020-04-07,1,$BA flushed the market rally once again. $TSLA...
4,EVs,2020-04-07,1,$C $BAC $VVV $CVN $XOM $PSX $NCLH $TSLA $TM $A...

In [10]:
oil_df.head()

,category,tweetDate,count,tweet
0,Oil,2020-03-30,10,"@Mikes_Charts @marketminute ""national security..."
1,Oil,2020-03-30,10,@SamanthaLaDuc @marketminute $CVX $PSX $XOM be...
2,Oil,2020-03-30,10,"As long as $SPX $SPY moves higher, #coronaviru..."
3,Oil,2020-03-30,10,"@dougboneparth It's almost as good as 2017's ""..."
4,Oil,2020-03-30,10,@crispy_burger_T There is no support federally...

In [11]:
pharma_df.head()

,category,tweetDate,count,tweet
0,Pharma,2020-05-01,20,Inside Day 5/1: $ABMD $BA $BIG $CMCSA $EBAY $F...
1,Pharma,2020-05-01,10,@manal_mehta @Dereklowe @moderna_tx @AndyBiote...
2,Pharma,2020-05-01,10,$PFE bought January calls
3,Pharma,2020-05-01,10,$codx It has just been reported the Covid pand...
4,Pharma,2020-05-01,10,"@ReformedBroker new investor, 4k BankRoll. $PF..."

In [12]:
print("Tech:", len(tech_df), "EVs:", len(ev_df), "Oil:", len(oil_df), "Pharma:", len(pharma_df))

Tech: 632181 EVs: 116355 Oil: 53253 Pharma: 313407

In [13]:
def write_to_db(con, df, table_name):
    cursor = con.cursor()
    
    try:
        insert_command = f'''CREATE TABLE IF NOT EXISTS {table_name}_tweets (
                                category TEXT,
                                tweetDate DATE,
                                count INTEGER,
                                tweet TEXT,
                                CONSTRAINT tweet_pk PRIMARY KEY (category, tweet)
                            );
                        '''
        
        cursor.execute(insert_command)
        con.commit()
        
        df.to_sql(f'{table_name}_tweets', con, if_exists='replace', index=False)
        con.commit()
        
    except sqlite3.Error as error:
        print({error})
    
    finally:
        cursor.close()
        con.close()

In [21]:
con_raw = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-RawTweets.sqlite"))

In [15]:
write_to_db(con_raw, tech_df, "tech")

In [18]:
write_to_db(con_raw, ev_df, "ev")

In [20]:
write_to_db(con_raw, oil_df, "oil")

In [22]:
write_to_db(con_raw, pharma_df, "pharma")

#### Reduced DB

In [23]:
con_pharma = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-Pharma.sqlite"))
con_oil = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-Oil.sqlite"))
con_ev = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-EVs2.sqlite"))
con_tech = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-Tech2.sqlite"))


cur_pharma = con_ev.cursor()
cur_oil = con_ev.cursor()
cur_ev = con_ev.cursor()
cur_tech = con_ev.cursor()

In [24]:
ev_df = pd.read_sql_query("SELECT * from reduced_tweet_counts", con_ev)
oil_df = pd.read_sql_query("SELECT * from reduced_tweet_counts", con_oil)
pharma_df = pd.read_sql_query("SELECT * from reduced_tweet_counts", con_pharma)
tech_df = pd.read_sql_query("SELECT * from reduced_tweet_counts", con_tech)

In [25]:
tech_df.head()

,category,tweetDate,count,tweet
0,Tech,2020-03-30,3,Why do you invest and what are your financial ...
1,Tech,2020-03-30,3,I wonder who is going to miss that $800MM in m...
2,Tech,2020-03-30,8,Google Traction: $GOOGL Google is currently 5 ...
3,Tech,2020-03-30,3,$AMZN 1963.95 (+63.85 +3.36%) $GOOGL 1146.31 (...
4,Tech,2020-03-30,3,@Capo94_ @Gambiste1 I'm watching $GOOGL and $A...

In [26]:
ev_df.head()

,category,tweetDate,count,tweet
0,EVs,2020-03-30,20,Alameda County is not responding to public rec...
1,EVs,2020-03-30,5,Lemmings believe $tsla is here to save the env...
2,EVs,2020-03-30,20,$SPY when this virus thing is over and I lead ...
3,EVs,2020-03-30,7,Lets put the stimulus money in perspective. $1...
4,EVs,2020-03-30,20,$TSLA EMPLOYEE AT GIGAFACTORY TESTS POSITIVE F...

In [27]:
oil_df.head()

,category,tweetDate,count,tweet
0,Oil,2020-03-30,30,Dont get lost in the the Green Days and think ...
1,Oil,2020-03-30,40,Oil is at an 18 year low and $XOM is up 150 ba...
2,Oil,2020-03-30,20,Auto-trading subcriptions available at Profect...
3,Oil,2020-03-30,20,@Scelliott81 Companies with low debt going to ...
4,Oil,2020-03-30,20,#OIL Sentiment ($20.50) Whats next for the OIL...

In [28]:
pharma_df.head()

,category,tweetDate,count,tweet
0,Pharma,2020-05-01,20,Inside Day 5/1: $ABMD $BA $BIG $CMCSA $EBAY $F...
1,Pharma,2020-05-01,20,Alerts for the week 13 alerts 8 winners 5 lose...
2,Pharma,2020-05-01,20,@TopStockAlerts1 $CODX $CAPR $AYTU #CORONAVIRU...
3,Pharma,2020-05-01,50,"#MiniPoll: Of the hundreds #Covid19 vaccines, ..."
4,Pharma,2020-05-01,30,$LVGO $CRWD $MRNA on high tight flag watch.

In [30]:
print("Tech:", len(tech_df), "EVs:", len(ev_df), "Oil:", len(oil_df), "Pharma:", len(pharma_df))

Tech: 38846 EVs: 48095 Oil: 8698 Pharma: 52594

In [39]:
con_red = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-ReducedTweets.sqlite"))

In [36]:
write_to_db(con_red, tech_df, "tech")

In [33]:
write_to_db(con_red, ev_df, "ev")

In [38]:
write_to_db(con_red, oil_df, "oil")

In [40]:
write_to_db(con_red, pharma_df, "pharma")

### Stocks

In [2]:
con_stock = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb.sqlite"))

cur_stock = con_stock.cursor()

In [3]:
tech_stock = pd.read_sql_query("SELECT * from stock_data WHERE category='Tech'", con_stock)
oil_stock = pd.read_sql_query("SELECT * from stock_data WHERE category='Oil'", con_stock)
pharma_stock = pd.read_sql_query("SELECT * from stock_data WHERE category='Pharma'", con_stock)
ev_stock = pd.read_sql_query("SELECT * from stock_data WHERE category='EVS'", con_stock)

In [4]:
tech_stock.head()

  category ticker   stockDate       open      close       high         low
0     Tech  GOOGL  2020-03-26  1114.7200  1162.9200  1171.4800  1092.03000
1     Tech  GOOGL  2020-03-27  1127.4700  1110.2600  1151.0500  1104.00270
2     Tech  GOOGL  2020-03-28  1130.0550  1128.2850  1151.0250  1101.24640
3     Tech  GOOGL  2020-03-29  1131.3475  1137.2975  1151.0125  1099.86825
4     Tech  GOOGL  2020-03-30  1132.6400  1146.3100  1151.0000  1098.49010

In [5]:
oil_stock.head()

  category ticker   stockDate   open  close   high     low
0      Oil    CVX  2020-03-30  68.01  71.95  72.93  67.020
1      Oil    CVX  2020-03-31  73.27  72.46  75.04  70.810
2      Oil    CVX  2020-04-01  69.51  68.56  72.29  67.610
3      Oil    CVX  2020-04-02  71.75  76.12  78.70  69.575
4      Oil    CVX  2020-04-03  78.00  75.11  78.99  73.030

In [6]:
pharma_stock.head()

  category ticker   stockDate    open    close     high       low
0   Pharma    PFE  2020-05-13  37.310  37.0500  37.4250  36.58500
1   Pharma    PFE  2020-05-14  36.800  37.9200  37.9600  36.78000
2   Pharma    PFE  2020-05-15  37.960  37.7600  38.1700  37.38500
3   Pharma    PFE  2020-05-16  38.150  37.9150  38.3150  37.50750
4   Pharma    PFE  2020-05-17  38.245  37.9925  38.3875  37.56875

In [7]:
ev_stock.head()

  category ticker   stockDate     open    close      high     low
0      EVS   TSLA  2020-03-30  102.052  100.426  103.3294  98.246
1      EVS   TSLA  2020-03-31  100.250  104.800  108.5920  99.400
2      EVS   TSLA  2020-04-01  100.800   96.312  102.7910  95.020
3      EVS   TSLA  2020-04-02   96.206   90.894   98.8520  89.280
4      EVS   TSLA  2020-04-03  101.900   96.002  103.0980  93.678

In [8]:
print("Tech:", len(tech_stock), "EVs:", len(ev_stock), "Oil:", len(oil_stock), "Pharma:", len(pharma_stock))

Tech: 3632 EVs: 967 Oil: 2175 Pharma: 2190

In [9]:
def write_to_db(con, df, table_name):
    cursor = con.cursor()
    
    try:
        insert_command = f'''CREATE TABLE IF NOT EXISTS {table_name}_stocks (
                                category TEXT,
                                ticker TEXT,
                                stockDate DATE,
                                open NUMERIC,
                                close NUMERIC,
                                high NUMERIC,
                                low NUMERIC
                            );
                        '''
        
        cursor.execute(insert_command)
        con.commit()
        
        df.to_sql(f'{table_name}_stocks', con, if_exists='replace', index=False)
        con.commit()
        
    except sqlite3.Error as error:
        print({error})
    
    finally:
        cursor.close()
        con.close()

In [16]:
con_stock = sqlite3.connect(os.path.join(os.getcwd(), "../Database/fypdb-StockData.sqlite"))

In [11]:
write_to_db(con_stock, tech_stock, "tech")

In [13]:
write_to_db(con_stock, ev_stock, "ev")

In [15]:
write_to_db(con_stock, oil_stock, "oil")

In [17]:
write_to_db(con_stock, pharma_stock, "pharma")